<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/styles/indexStyles.css" th:href="@{../static/styles/indexStyles.css}">
    <link rel="stylesheet" href="../static/styles/navbarStyles.css" th:href="@{../static/styles/navbarStyles.css}">
    <link rel="stylesheet" href="../static/styles/notificationStyles.css" th:href="@{../static/styles/notificationStyles.css}">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="pane">
    <div class="upper">
        Главная страница

    </div>
    <div class="content">
        <div th:each="i : ${lots}">
            <div class="item">
                <div class="photo">
                    <img th:class="${i.getPhoto() != 0} ? images" th:src="@{/api/photo/{name} (name= ${i.photo})}" src="#">
                </div>
                <div class="info">
                    <a href="#" th:href="@{/lot/{id} (id=${i.getId()})}">
                        <div class="desc" th:text="${i.getName()}">
                        </div>
                    </a>
                    <div class="buttons" sec:authorize="isAuthenticated()">
                        <div  th:if="${i.isSub()}">
                            <button th:id="'button' + ${i.getId()}" th:onclick="|unsub(${i.getId()})|" class="unsub">
                                Отписаться
                            </button>
                        </div>
                        <div th:if="${i.isSub() == false}">
                            <button th:id="'button' + ${i.getId()}"  th:onclick="|sub(${i.getId()})|" class="sub">
                                Подписаться
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div sec:authorize="isAuthenticated()">
            <div th:insert="~{fragments/notification :: notification}"></div>
        </div>
    </div>

</div>

<div sec:authorize="isAuthenticated()">
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="../static/scripts/subLogic.js" th:href="@{../static/scripts/subLogic.js}"></script>
    <script src="../static/scripts/listenNotification.js" th:href="@{../static/scripts/listenNotification.js}"></script>
</div>

</body>
</html>
