.content-mylots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    top: 40px;
    background: #d2d5d0;
    border-radius: 10px;
    width: 97%;
    height: 80%;
}

.pages{
    background: #d2d5d0;
    width: 95%;
    margin: 0 auto;
    height: 90px;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
}

.current{
    border-bottom: 2px black solid;
}